/*Farro*/
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Farro', sans-serif;
}

header{
  background: #8ebdc4ff;
  padding-bottom: 40px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1000;/*Prob makes it seen when FIXED*/
  display: flex;
  align-items: center;
  transition: 0.75s;
}

header .name{
  color: #fdf5e6ff;
  padding-left: 15px;
  padding-right: 205px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 20px; 
  text-decoration: none;
}

header .menu{
  position:relative;
  display:flex;
}

header .menu li{
  list-style: none;
  margin-left: 20px;
}

header .menu li a{
  text-decoration: none;
  color: #fdf5e6ff;
  border-radius: 25px;
  padding: 10px 30px;
  background:#8ebdc4ff;
  margin-bottom;10px;
}

header .menu li a:hover{
  background: #fa8072ff;
}

header .menu li a: active{
  background:  #fdf5e6ff;
  color: #2d4c6e;
}

.banner{
  position: relative;
  width: 100%;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.banner .content{
  text-align: center; 
}

.banner .content h1{
  text-align: center;
  font-weight: normal;
  color: #fdf5e6ff;
  font-size: 50px;
  text-transform: uppercase;
  transition: 1s;
}

.links{
  margin-top: 50px;
  text-align: center;
}

.login{
  color: #8ebdc4ff; 
  border-radius: 25px; 
  background: #fdf5e6ff;
  padding: 15px 50px; 
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* For Animation!!! Hovering Effects */
.login:hover{
  background: #fa8072ff;
  color: #fdf5e6ff;
}


.signup{
  color: #fdf5e6ff; 
  border-radius: 25px;
  border: 2px solid;
  padding: 13px 40px; 
  margin-left: 5px;
  text-decoration: none; /*so then there is no line underneath :) */
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #8ebdc4ff;
}

.signup:hover{
  color: #fa8072ff;
}


.becomes{
  margin-left:165px;
  margin-top:20px;
  justify-content: space-between;
  padding: 15px;
  display: none;
}

.asstudent{
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  color:#8ebdc4ff ;
  background: #fdf5e6ff;
  border-radius: 25px;
  padding: 13px 20px;
  margin-right: 10px;
  transition: .5s;
}

.becomes .asstudent:hover{
  background: #fa8072ff;
  color: #fdf5e6ff;
}


.astutor{
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 13px;
  color:#8ebdc4ff ;
  background: #fdf5e6ff;
  border-radius: 25px;
  padding: 13px 20px;
  transition: .5s;
}

.becomes .astutor:hover{
  background: #fa8072ff;
  color: #fdf5e6ff;
}

.banner .content .display{
  position: relative;
  align-self: center;
  justify-content: space-between;
  display: flex;
  width:750px;
  height: 300px;
  margin-top: 35px;
}

/*Flipping icon cards code below */
.banner .content .display button{
  background: #8ebdc4ff;
  width: 200px;
  height: 250px;
  margin-right: 15px;
  border-style: none;
  perspective: 1000px;
  transition: 5s;
}

/*Lightbulb Card*/
.lightbulb-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.lightbulb-container:focus .lightbulb-card{
  transform: rotateY(180deg);
}
.lbfront, .lbback{
 position: absolute;
 width: 100%;
 height: 100%;
 border-radius: 10px;
 backface-visibility: hidden;
}
.lbfront{
  padding: 75px 20px;
  border: 2px solid #8ebdc4ff;
  transition: .5s;
}
.lbback{
  background-color: #fdf5e6ff; transform:rotateY(180deg);
  color: #63888E;
}
.lb-words1{
  padding-left: 12px;
  padding-right:12px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style:italic;
  text-align: left;
  word-spacing: 2px;
  line-height: 1.2;
}
.lb-words2{
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  text-align: left;
  word-spacing: 2px;
  line-height: 1.2;
}
.lb-dots{
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 15px;
  display: flex;
  width:100%;
  height: 50px;
}
.lbdot-1{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.lbdot-2{
  background: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.lbdot-3{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
}


 /*Bookstack Card*/
 .bookstack-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.bookstack-container:focus .bookstack-card{
  transform: rotateY(180deg);
}
.bsfront, .bsback{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.bsfront{
  padding: 75px 20px;
  border: 2px solid #8ebdc4ff;
  transition: .5s;
}
.bsback{
  background-color: #fdf5e6ff; 
  transform:rotateY(180deg);
  color: #63888E;
}
.bs-words1{
  padding-left: 12px;
  padding-right:12px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style:italic;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.bs-words2{
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5px;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1;
}

/*Calculator Card*/
.calc-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.calculator-container:focus .calc-card{
  transform: rotateY(180deg);
}
.cfront, .cback{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.cfront{
  padding: 75px 20px;
  border: 2px solid #8ebdc4ff;
  transition: .5s;
}
.cback{
  background-color: #fdf5e6ff;  
  transform:rotateY(180deg);
  color: #63888E;
}
.c-words1{
  padding-left: 12px;
  padding-right:12px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 900;
  font-style:italic;
  text-align: center;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.c-words2{
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.c-dots{
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 15px;
  display: flex;
  width:100%;
  height: 50px;
}
.cdot-1{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.cdot-2{
  background: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.cdot-3{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
}

/*Chemistry Card*/
.chem-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.chemistry-container:focus .chem-card{
  transform: rotateY(180deg);
}
.chfront, .chback{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.chfront{
  padding: 75px 20px;
  border: 2px solid #8ebdc4ff;
  transition: .5s;
}
.chback{
  background-color: #fdf5e6ff; 
  transform:rotateY(180deg);
  color: #63888E;
}
.ch-words1{
  padding-left: 12px;
  padding-right:12px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  font-style:italic;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.ch-words2{
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.ch-dots{
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 15px;
  display: flex;
  width:100%;
  height: 50px;
}
.chdot-1{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.chdot-2{
  background: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.chdot-3{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
}

/*Protractor Card*/
.pro-card{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.protractor-container:focus .pro-card{
  transform: rotateY(180deg);
}
.pfront, .pback{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}
.pfront{
  padding: 75px 20px;
  border: 2px solid #8ebdc4ff;
  transition: .5s;
}
.pback{
  background-color: #fdf5e6ff; 
  transform:rotateY(180deg);
  color: #63888E;
}
.p-words1{
  padding-left: 12px;
  padding-right:12px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  font-style:italic;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.p-words2{
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  text-align: left;
  word-spacing: 1.5px;
  line-height: 1.2;
}
.p-dots{
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 15px;
  display: flex;
  width:100%;
  height: 50px;
}
.pdot-1{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.pdot-2{
  background: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin-right: 10px;
}
.pdot-3{
  color: #63888E;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid;
}


.banner .content .display button img{
  width: 110%;
  height: 110%;
  object-fit: contain;
  margin-right: 45px;
  filter: sepia(45%);
}

.banner .content .display button:hover img{
  transform: scale(1.1);
  animation: shake 0.6s infinite;
}

/*To make sure that the border for each icon l
ights up when hovered over*/
.banner .content .display button:hover .lbfront{
  border-color: #fdf5e6ff;
}

.banner .content .display button:hover .bsfront{
  border-color: #fdf5e6ff;
}

.banner .content .display button:hover .cfront{
  border-color: #fdf5e6ff;
}

.banner .content .display button:hover .chfront{
  border-color: #fdf5e6ff;
}

.banner .content .display button:hover .pfront{
  border-color: #fdf5e6ff;
}

/*Like a function to make animation 
work */
@keyframes shake{
  0%{
    transform: translate(0px, 0px) rotate(0deg)
  }
  25%{
    transform: translate(1px, 1px) rotate(1deg)
  }
  50%{
    transform: translate(-1px, -1px) rotate(-1deg)
  }
  75%{
    transform: translate(2px, -1px) rotate(2deg)
  }
  100%{
    transform: translate(-1px, 1px) rotate(-1deg)
  }
}


.banner .content .scrolldown{
  position:relative;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
  
}

.banner .content a{
  text-decoration: none;
}

/*MESSED UP LEARN MORE BUTTON TRY
.banner .content a:hover p{
  transform: scale(1.2);
  color: #fa8072ff;
}
.banner .content a:hover .arrow{
  transform: scale(1.2);
  background: #fa8072ff;
}*/

.banner .content .scrolldown p {
  color: #fdf5e6ff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
} 


/* How to make the ARROW under "Learn More"
NOTE: the before and after result in TWO objects*/
.banner .arrow::after,.banner .arrow::before{
  position: absolute;
  content: '';
  width: 100px;
  height: 10px;
  background: #fdf5e6ff;
  bottom: -1;
  z-index: 100;
}
.banner .arrow::before{
  right: 50%;
  transform: skew(0,20deg)/*skew distorts the shape by deg(degrees) - adding the 0 at the beginning turns the object*/

}

.banner .arrow::after{
  left: 50%;
  transform: skew(0,-20deg)/*skew 
    distorts the shape by deg(degrees) - adding the 0 at the beginning turns the object*/
} 

.banner .arrow:hover{
  background: #fa8072ff;
}


/*FIX THIS BANNER*/
.banner .dip::after,.banner .dip::before{
  position: absolute;
  content: '';
  width: 100px;
  height: 120px;
  background: #8ebdc4ff;
  bottom: -1;
  z-index: 100;
}
.banner .dip::before{
  right: 50%;
  transform: skew(0,20deg)
}
.banner .dip::after{
  left: 50%;
  transform: skew(0,-20deg)
}


.aboutus{
  position: relative;
  padding: 40px;
  background:  #fdf5e6ff;
  height: 80vh; 
}

.events{
  text-align: center; 
  position: relative;
  padding: 40px;
  background:  #8ebdc4ff;
  height: 20vh; 
  color:#fdf5e6ff; 
}
 
.events .column4 h3 {
  font-weight: 700;
  font-size: 35px;
  margin-top: 00px;
  margin-bottom: -15px;
  text-transform: uppercase;
}

.row1{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  --margin-top: 2px;
  min-height: 100px;
}
.row1 .inside{
  position: relative;
  width: 100%;
  margin-left:20px;
}


h2{
  color:#8ebdc4ff; 
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 00px;
}

.row1 .inside1 p{
  color: #8ebdc4ff;
  padding-top: 15px;
  word-spacing: 2px;
  margin-top: 0px;
}


.row1 .inside .img1{
  position: relative;
  width: 100%;
  height: 100%;
  --margin:10px; 
} 
.row1 .inside .img1 img{
  position:absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 190%;
  border-radius: 30px;
  object-fit: cover;
}

.blue_space{
  background: #8ebdc4ff;
  padding: 7px; 
}

.ending{
  background: #8ebdc4ff;
  padding: 15px;
  color: #fdf5e6ff;
  text-decoration: none;
  font-size: 13px;
  border-right: none;
  border-bottom-color: #8ebdc4ff;
  border-left-color: #8ebdc4ff;
  border-right-color: #8ebdc4ff;
  border-style: dashed; 
  
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width:100%;
  height: 70px;
}

.ending a{
  text-decoration: none;
  color: #fdf5e6ff;
}

.ending .logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: sepia(5%);
}

.contact{
  position: relative;
  align-self: center;
  align-items: center;
  display: flex;
}
.contact .declare{
  margin-right: 5px;
}
.contact .email{
  font-weight: 700;
}

.follow{
  position: relative;
  align-self: center;
  align-items: center;
  display: flex;
}
.follow .declare2{
  margin-right: 5px; 
}

.ending .follow .icons{
  display:flex;
  width: 50px;
  height: 25px;
}

.ending .follow .icons .instagram{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.ending .follow .icons .facebook{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.ending .follow .icons .facebook:hover img{
  filter: invert(1) brightness(0.5) sepia(100%) saturate(200%) hue-rotate(-40deg);
}

.ending .follow .icons .instagram:hover img{
  filter: invert(1) brightness(0.5) sepia(100%) saturate(200%) hue-rotate(-40deg);
}


.ending .follow .icons .instagram img, .facebook img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(90%) sepia(35%);
}
